@charset "UTF-8";

.no-scroll {
    overflow: hidden;
  }

#page-1 {
    background-color: #bbd2f9;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    margin: 50px;
    text-align: center;
    
  }

.start{
    color:purple;
    font-weight: bold;
    position: realtive;
    padding: 1em 0;
    margin: 0;
    text-shadow: 1px 1px 0px violet; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */

}

#page-2 {
    background-color: black;
    display: none;
}


body::-webkit-scrollbar {
    display: none;
}

.navbar-height {
    height: 55px;
}

.extend {
    height: calc(100vh - 55px);
}

.montserrat {
    font-family: Montserrat;
}

#rocket-ship {
    margin-top: 25vh;
    width: 15vw;
}

.companies {
    position: relative;
}

#exante {
  margin-left: 5vw;
}

#myprotein {
    margin-left: 0vw;
}

#selfish {
    margin-left: 19vw;
}

#glossy-box {
    margin-left: 1vw;
}

#espa {
    margin-left: 15vw;
}

#lookfantastic {
    margin-left: 17vw;
}

#matalan {
    margin-left: 12vw;
}

#homebase {
    margin-left: 0vw;
}

#cola {
    margin-left: 15vw;
}

#hale {
    margin-left: 25vw;
}

#hut {
    margin-left: 30vw;
}

#content-container {
    min-height: 2000px;
    /* Set a minimum height */
}

#image-container, #image-container-static {
    position: absolute;
    bottom: 10%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#rocket, #rocket-static {
    position: relative;
}

#flames, #flames-static {
    position: absolute;
    top: 100%;
    /* Place flames below the rocket */
    left: 80px;
    /* Adjust left position as needed */
}

#flames-blur, #flames-blur-static {
    position: absolute;
    top: 100%;
    /* Place flames below the rocket */
    left: 55px;
    /* Adjust left position as needed */
}


body::-webkit-scrollbar {
    z-index: 18;
    border-radius: 100%;
}

/* Stars CSS */
.stars {
    position: absolute;
    background: #f1f1f1;
    z-index: 1;
    border-radius: 100%;
    /* Add twinkling animation for stars and set iteration count to infinite */
    animation: twinkling 5s infinite, moveDown 20s linear 1; /* Adjust the duration and timing as needed */
}

.meteors {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: rgba(152, 43, 29, 0.695); /* Color of the meteors */
    /* Add fall animation for meteors and set iteration count to infinite */
    animation: fall 5s linear infinite;
}

@keyframes twinkling {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(10000%); /* Extend the movement path by increasing the percentage */
    }
    100% {
        transform: translateY(0); /* Reset stars to the top */
    }
}

@keyframes fall {
    0% {
        transform: translate(75%, -10%);
    }
    100% {
        transform: translate(75%, 110%); /* Adjust this value to control meteor's path */
    }
}

#stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
}
