@charset "UTF-8";

#page-1 {
    background-color: #bbd2f9;
    height: 100vh;
}

#page-2 {
    display: none;
}

 
body::-webkit-scrollbar {
    display: none;
}

.navbar-height {
  height: 55px;
}

.extend {
  height: calc(100vh - 55px);
}

.montserrat {
    font-family: Montserrat;
}

#rocket-ship {
    margin-top: 15vh;
}

#exante {
  width: 155px;
  margin-left: 5vw;
}

#myprotein {
    width: 155px;
    margin-left: 0vw;
    margin-top: 50vh;
}

#content-container {
    min-height: 2000px; /* Set a minimum height */
}

#image-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#rocket{
    position: relative;
}