@charset "UTF-8";

#page-1 {
    background-color: #bbd2f9;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    margin: 50px;
    text-align: center;
    
  }

.start{
    color:purple;
    font-weight: bold;
    position: realtive;
    padding: 1em 0;
    margin: 0;
    text-shadow: 1px 1px 0px violet; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */

}

#page-2 {
    background-color: black;
    display: none;
}

 
body::-webkit-scrollbar {
    display: none;
}

.navbar-height {
  height: 55px;
}

.extend {
  height: calc(100vh - 55px);
}

.montserrat {
    font-family: Montserrat;
}

#rocket-ship {
    margin-top: 15vh;
}

.companies {
    position: relative;
}

#exante {
  width: 155px;
  margin-left: 5vw;
  margin-top: 0px;
}

#myprotein {
    width: 155px;
    margin-left: 0vw;
}

#selfish {
    width: 155px;
    margin-left: 12vw;
}

#glossy-box {
    width: 155px;
    margin-left: 1vw;
}

#espa {
    width: 155px;
    margin-left: 5vw;
}

#lookfantastic {
    width: 155px;
    margin-left: 7vw;
}

#matalan {
    width: 155px;
    margin-left: 12vw;
}

#homebase {
    width: 155px;
    margin-left: 0vw;
}

#content-container {
    min-height: 2000px; /* Set a minimum height */
}

#image-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rocket {
  position: relative;
}

#flames {
  position: absolute;
  top: 100%; /* Place flames below the rocket */
  left: 70px; /* Adjust left position as needed */
}


body::-webkit-scrollbar {
    z-index: 18;
    border-radius: 100%;
}

/* Stars CSS */
.stars {
    position: absolute;
    background: #f1f1f1;
    z-index: 1;
    border-radius: 100%;
    /* Add twinkling animation for stars */
    animation: twinkling 5s infinite, moveDown 20s linear infinite; /* Adjust the duration and timing as needed */
}

.meteors {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: rgba(152, 43, 29, 0.695); /* Color of the meteors */
    /* Add fall animation for meteors */
    animation: fall 1s linear infinite; /* You can adjust this separately */
}

@keyframes twinkling {
    0% {
        opacity: 1;
    
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(10000%); /* Extend the movement path by increasing the percentage */
    }
}

@keyframes fall {
    0% {
        transform: translate(75%, -10%);
    }
    80% {
        transform: translate(100%, 110%); /* Adjust this value to control meteor's path */
    }
}

#stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
}