@charset "UTF-8";

#page-1 {
    background-color: #bbd2f9;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar-height {
    height: 55px;
}

.extend {
    height: calc(100vh - 55px);
}

.montserrat {
    font-family: Montserrat;
}

#exante {
    width: 155px;
    margin-left: 5vw;
}

#myprotein {
    width: 155px;
    margin-left: 0vw;
    margin-top: 50vh;
}

#rocket-ship {
    margin-top: 15vh;
    width: 18vw;
}