@charset "UTF-8";

#page-1 {
    background-color: #bbd2f9;
    height: 100vh;
}

#page-2 {
    display: none;
}

 
body::-webkit-scrollbar {
    display: none;
}

.navbar-height {
  height: 55px;
}

.extend {
  height: calc(100vh - 55px);
}

.montserrat {
    font-family: Montserrat;
}

#rocket-ship {
    margin-top: 15vh;
}

.companies {
    position: relative;
}

#exante {
  width: 155px;
  margin-left: 5vw;
  margin-top: 0px;
}

#myprotein {
    width: 155px;
    margin-left: 0vw;
}

#content-container {
    min-height: 2000px; /* Set a minimum height */
}

#image-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#rocket{
    position: relative;
}

/* Star generation code */
#content-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000;
    z-index: -1;
  
}
body::-webkit-scrollbar {
    z-index: 18;
    border-radius: 100%;
  }
  
    
  .rerun {
    position: absolute;
    bottom: 5%;
  }